<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'css/mystile.css' %}"/>
</head>
<body>
<!--<h1>Awesome picture from awesome article</h1>
<img src="{% static 'images/screen.png' %}" alt="pic not showing">-->

<h1>Hi, welcome to Django level 2</h1>
<h2>Here are our users:</h2>


<div class="djangtwo">

    {% if all_users %}
    <table>

        <thead>
        <th>Name</th>
        <th>Email</th>

        </thead>

        {% for user in all_users %}

        <tr>

            <td>{{ user.last }}</td>
            <td>{{ user.email }}</td>

        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p>No users record found!</p>
    {% endif %}
</div>

</body>
</html>